html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block title
        block stylesheets
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Asap&display=swap")
            link(rel="stylesheet" href="static/css/style.css")
    body

        block content

        block foot

        block scripts
            script(src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.dev.js")
