body, html {
    background-color: rgb(238, 238, 238);
    font-family: 'Asap', sans-serif;
}

h1 {
    text-align: center;
}

#chat-section {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-left: 10vw;
    padding-left: 1rem;
    padding-right: 1rem;
}

@media screen and (max-width: 768px) {
    #chat-section {
        margin-right: 1vw;
        margin-left: 1vw;
    }
}

#messageList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 300px;
    overflow: auto;
}

.message {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.my-message {
    background-color: rgb(160, 160, 160);
}

.other-message {
    background-color: rgb(255, 170, 251);
    color: white;
}

.nickName {
    text-decoration: underline;
}

#messageForm {
    align-self: baseline;
    width: 100%;
    display: flex;
    border-radius: 5px;
}

#registerForm {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

#registerForm input {
    height: 2.5rem;
}

#registerForm input[type='text'] {
    width: 300px;
}

#messageForm input[type="text"]{
    flex: 1;
    height: 2.5rem;
}

#typingText {
    color: rgb(168, 168, 168);
}

.hidden {
    display: none;
}

.show {
    display: block;
}