extends ../layout.pug

block title
    title Public chat

block content
    div
        h1 chat.io
        div#chat-section
            ul#messageList
            small#typingText(class="hidden")
            form#messageForm(action="")
                input#messageInput(type="text" name="message" placeholder="Message")
                input#sendButton(type="submit" name="sendButton" value="Send")
        div
            ul#connectedList

block append scripts
    script(src="static/js/chat.js")
