extends ../layout.pug

block title
    title Welcome to Chat.io

block content
    div
        h1 Welcome to Chat.io

    form#registerForm(action="")
        input#nickname(type="text" name="nickname" placeholder="Nickname")
        input#registerNickname(type="submit" value="Submit")

block append scripts
        script(src="static/js/nickname.js")